# ===============================================
# RED NEC - Variables de Entorno
# ===============================================

# Puerto del Servidor
PORT=3001
NODE_ENV=development

# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=rednec_db
DB_USER=root
DB_PASS=

# Seguridad y Autenticación JWT
JWT_SECRET=rednec_secret_token_key_2026_super_secure
